<mat-form-field appearance="legacy">
  <input matInput placeholder="Title" [value]="cardInfo.title" />
</mat-form-field>
<br />
<div class="flex flex-col gap-2">
  <mat-form-field
    *ngFor="let task of cardInfo.task; let i = index"
    appearance="legacy"
  >
    <input
      matInput
      formControlName="editedTask"
      placeholder="Task {{ i + 1 }}"
    />
    <mat-icon matSuffix class="cursor-pointer" (click)="deleteTask(i)"
      >delete</mat-icon
    >
  </mat-form-field>
</div>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="editTodo(cardInfo)">
    SAVE
  </button>
</mat-card-actions>
